html{
    margin: 0;
    padding: 0;
}

body{
    overflow-y: hidden;
    overflow-x: hidden;
    font-family: "Golos Text";
    font-size: 100%;
}
#title{
    background-image: 
    linear-gradient(to bottom, rgba(0, 0, 0, 0.989) 5%, rgba(0, 0, 0, 0) 50%),
    linear-gradient(to top, rgba(0, 0, 0, 0.495) 0%, rgba(0, 0, 0, 0) 100%),
    url('../images/background-image.png');
    width: 100%;
    height: 1010px;
    margin-top: -70px;
    color: white;
    text-align: center;
}
h1{
    color: white;
    font-family: "Golos Text";
    padding-top: 5px;
    padding-bottom: 20px;
    line-height: 1.5;
}

nav{
    padding-top: 70px;
    width: 100%;
    height: 15.6%;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to bottom, rgb(5, 0, 0) 30%, rgba(5, 5, 5, 0) 70%);
}

nav .nav-button{
    color: rgb(45, 43, 43);
    background-color: white;
    font-size: 18px;
    padding: 3px 34px;
    border-radius: 20px;
    margin: 23px 15px;
    border: none;
    font-family: "Golos Text";
    font-weight: 600;
}

nav .logo-container{
    width: 170px;
    margin: 15px;
}

nav .logo-container .logo{
    width: 90%;
    padding-left: 1px;
    padding-top: 10px;
    
}

.nav-items{
    font-family: "Golos Text";
    font-size: 19px;
    font-weight: 400;
    padding-top: 30px;
    margin-left: -59.5%;
    display: flex;

}
.nav-links{
    position: relative;
    color: white;
    text-decoration: none;
    padding-left: 9px;
    padding-right: 9px;
}

.lang{
    text-decoration: none;
    color: #fff;
    position: absolute;
    padding-left: 86%;
    padding-top: 30px;
    font-family: "Golos Text";
    font-size: 19px;
    font-weight: 400;
}


.focus{
    text-align: center;
    margin-top: 300px;
}

.primary-button{
    color: #fff;
    font-size: 18px;
    background: linear-gradient(45deg, #fe3072, #ff5940);
    padding: 10px 45px;
    border-radius: 30px;
    border: none;
    font-family: "Golos Text";
    font-weight: 600;
}

.primary-button:hover{
    background: linear-gradient(rgb(64, 62, 62));
}